@import '../../styles/main.scss';

.ouputEvent {
  td {
    @include body-regular;
    border-bottom: 1px solid $gray-light;
    border-top: none;
    padding: $space-20 $space-10;

    .status {
      @include status-badges;
    }

    img {
      width: 16px;
    }
    .dropdown {
      .dropdown-menu {
        @include dropdown;
        width: 144px;
      }
      svg {
        color: $gray-dark;
          font-size: 40px;
          padding: 6px;
        &:hover {
          color: #2a6ebb;
          border: 1px solid #2a6ebb;
          border-radius: 4px;
        }
      }

      &.show {
        svg {
          border: 1px solid $brand-1-darken;
          border-radius: 4px;
        }
      }
    }
    &:last-child {
      padding: 7px;
      vertical-align:middle;
    }
  }
}